* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 80px 10%;
}


.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

.hero p {
  margin-top: 20px;
  font-size: 20px;
  opacity: .8;
}


.bio {
  background: #151515;
  border-radius: 20px;
}


.gallery h2 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
  
}

.design {
  background: #1b1b1b;
  border-radius: 20px;
}
form {
      background: #1b1b1b;
      max-width: 500px;
      margin: 50px auto;
      padding: 30px;
      border-radius: 15px;
}
form input, form textarea {
      width: 100%;
      padding: 12px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }
   button {
      background: black;
      color: white;
      border: none;
      padding: 12px 25px;
      border-radius: 20px;
      
    }

    button:hover {
      background: orange;
    }

footer {
  text-align: center;
  padding: 30px;
  background: #000;
}
